  .d-style {
	border-radius: 10px;
	border: 3px solid black;
	margin: 20px;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 3px;
}

.d2-style {
border-color: #fb8;
background-color: #fb8;
border-radius: 5px;
padding-top: 4px;
padding-right: 7px;
padding-bottom: 4px;
padding-left: 7px;
}

img{
border-radius: 7px;
border-color:#050300;
border-style: solid;
}

h1{
	text-align: center;
}

a{
color: #e3753e;
}

.d3-style{
background-color: rgb(243, 237, 237);
border-radius: 4px;
border-width: 3px;
border-style: solid;
}

.d4-style{
text-align: center;
border-radius: 4px;
border-color: black;
border-style: solid;
border-width: 3px;
padding: 5px;
margin-top: 5px;
margin-right: 520px;
margin-bottom: 5px;
margin-left: 520px;
}

.d5-style{
	padding: 5px;
	text-align: center;
	display: block;
}

.d6-style{
	display: inline;
}

<<<<<<< HEAD

*{
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #EFECE9;
}
.nav-style {
	background-color: #FFFFFF;
=======
*{
	margin: 0px;
	padding: 0px;
>>>>>>> 151adac924a3f20d98388dba667325d8975ebb38
}
nav {
	font-size: 20px;
}
.navbar .nav-link {
	color: #000000;
	transition: all 0.16s ease;
}
.navbar .nav-link:hover {
  font-weight: bold;
  transform: scale(1.05);
}
<<<<<<< HEAD
.icon img{
	width: 60px;
	height: 60px;
	margin-top: 5px;
    border: none;
	margin-left: 50px;
	position: relative;
	right: 40px;
}
.navbar .btns {
    display: flex;
    gap: 20px;
    position: relative;
    right: 10px;
=======
.dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: #fff;
>>>>>>> 151adac924a3f20d98388dba667325d8975ebb38
}
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
  background-color: #000 !important; 
  color: #fff !important;
}
<<<<<<< HEAD
.navbar .btns a:hover {
	font-weight: 600;
}

=======
.icon img{
	width: 60px;
	height: 60px;
    border: none;
>>>>>>> 151adac924a3f20d98388dba667325d8975ebb38
}

