
<<<<<<< HEAD

*{
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #EFECE9;
}
.nav-style {
	background-color: #FFFFFF;
=======
*{
	margin: 0px;
	padding: 0px;
>>>>>>> 151adac924a3f20d98388dba667325d8975ebb38
}
nav {
	font-size: 20px;
}
.navbar .nav-link {
	color: #000000;
	transition: all 0.16s ease;
}
.navbar .nav-link:hover {
  font-weight: bold;
  transform: scale(1.05);
}
<<<<<<< HEAD
.icon img{
	width: 60px;
	height: 60px;
	margin-top: 5px;
    border: none;
	margin-left: 50px;
	position: relative;
	right: 40px;
}
.navbar .btns {
    display: flex;
    gap: 20px;
    position: relative;
    right: 10px;
=======
.dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: #fff;
>>>>>>> 151adac924a3f20d98388dba667325d8975ebb38
}
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
  background-color: #000 !important; 
  color: #fff !important;
}
<<<<<<< HEAD
.navbar .btns a:hover {
	font-weight: 600;
}

=======
.icon img{
	width: 60px;
	height: 60px;
    border: none;
>>>>>>> 151adac924a3f20d98388dba667325d8975ebb38
}

